/* custom.css */

prm-topbar .top-nav-bar {
  background-color: #f1f1f1;
}

prm-main-menu .item-content {
  color: #102b72;
}

prm-user-area .user-menu-button .user-name {
  color: #333333;
}

prm-logo .product-logo {
  padding: .5em;
  width: 193px;
  background-color: #f1f1f1;
}

#favorites-button {
  color: #102b72;
}

/* Adjustment for "TWEAK MY RESULTS"/"CLOSE FILTER" handle on mobile. */
button#sidebar-trigger.button-with-icon.layout-full-height.md-button.md-primoExplore-theme.md-ink-ripple {
  color: darkred;
}

/* Hide Tags in main menu. */
/* https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI */

.md-button[aria-label='nui.mainmenu.label.tags']  {
  display: none;
}

md-card.transparent-card:nth-child(7) {  /* number depends on the order of the items */
  display: none;
}

#tags {
  display: none;
}

/* custom.css */
