/* custom.css */

prm-topbar .top-nav-bar {
  background-color: #f1f1f1;
}

prm-main-menu .item-content {
  color: #102b72;
}

prm-user-area .user-menu-button .user-name {
  color: #333333;
}

prm-logo .product-logo {
  padding: .5em;
  width: 193px;
  background-color: #f1f1f1;
}

#favorites-button {
  color: #102b72;
}

/* Adjustment for "TWEAK MY RESULTS"/"CLOSE FILTER" handle on mobile. */
button#sidebar-trigger.button-with-icon.layout-full-height.md-button.md-primoExplore-theme.md-ink-ripple {
  color: darkred;
}

/* custom.css */
