/* custom.css */

prm-topbar .top-nav-bar {
  background-color: #f1f1f1;
}

prm-main-menu .item-content {
  color: #102b72;
}

prm-user-area .user-menu-button .user-name {
  color: #333333;
}

/* Change color of the A-Z search bar. */
prm-journals-search-bar {
  background-color: #102b72;
}

/* Change color of round buttons at the top right: search history, favourites. */
#favorites-button,
.md-button[aria-label="Go to search history"],
.md-button[aria-label="Go to search history"]:hover:not([disabled]),
#search-button {
  color: #102b72;
}

/* Change color of "Tweak my results" on mobile. */
#sidebar-trigger {
  color: white;
}

md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  background-color: #102b72;
}

/* Hide Tags in main menu. */
/* https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI */
.md-button[aria-label="nui.mainmenu.label.tags"],
#tags,
button[aria-label="Tags"] {
  display:none;
}

/* Link library logo to the library homepage. */
/* https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/New_Primo_User_Interface/New_UI_Customization_-_Best_Practices#Creating_a_Clickable_Logo */
prm-logo .product-logo {
  display: none;
}

prm-logo .product-logo-custom {
  display: flex;
  background-color: none;
  transition: background-color 0.4s cubic-bezier(0.25,0.8,0.25,1);
}

prm-logo .product-logo-custom img {
  padding: 8px 0 0 0;
  width: 142px;
}

prm-logo .product-logo-custom:hover {
  background-color: rgba(0,0,0,0.1);
  transition: background-color 0.4s cubic-bezier(0.25,0.8,0.25,1)
}

prm-logo .product-logo a:hover {
  background: none;
  box-shadow: none;
}

/* Hide Save/Email in full details. */
#getit_link2,
button[aria-label="Save/Email"] {
  display: none;
}

/* Hide availability line in full details. */
.prm-full-view-dialog prm-search-result-availability-line {
  display: none;
}

/* Hide "Include records not in library collection" under "Tweak my results". */
prm-facet div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left {
  display: none;
}

/* Change the order of the Send to buttons. */
prm-action-list md-nav-bar li.md-nav-item:nth-child(1) {
  order: 9;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(2) {
  order: 8;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(3) {
  order: 7;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(4) {
  order: 6;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(5) {
  order: 5;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(6) {
  order: 4;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(7) {
  order: 3;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(8) {
  order: 2;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(9) {
  order: 1;
}

/* Change color of "Back to results list" (full details page) on mobile. */
button[aria-label="Close Full Display"] {
  color: white;
}

/* Change color of "..." on mobile menu. */
button.mobile-menu-button[aria-label="Open user actions menu button"] {
  color: #102b72;
}

/* Hide availability status in journals A-Z brief results. */
prm-journals prm-search-result-availability-line {
  display: none;
}

/* custom.css */
