/* custom.css */

prm-topbar .top-nav-bar {
  background-color: #f1f1f1;
}

prm-main-menu .item-content {
  color: #102b72;
}

prm-user-area .user-menu-button .user-name {
  color: #333333;
}

/* Change color of the A-Z search bar. */
prm-journals-search-bar {
  background-color: #102b72;
}

/* Change color of round buttons at the top right: search history, favourites. */
#favorites-button,
.md-button[aria-label="Go to search history"],
.md-button[aria-label="Go to search history"]:hover:not([disabled]),
#search-button {
  color: #102b72;
}

/* Change color of "Tweak my results" on mobile. */
#sidebar-trigger {
  color: white;
}

md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  background-color: #102b72;
}

/* Hide Tags in main menu. */
/* https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI */
.md-button[aria-label="nui.mainmenu.label.tags"],
#tags,
button[aria-label="Tags"] {
  display:none;
}

/* Link library logo to the library homepage. */
/* https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/New_Primo_User_Interface/New_UI_Customization_-_Best_Practices#Creating_a_Clickable_Logo */
prm-logo .product-logo {
  display: none;
}

prm-logo .product-logo-custom {
  display: flex;
  background-color: none;
  transition: background-color 0.4s cubic-bezier(0.25,0.8,0.25,1);
}

prm-logo .product-logo-custom img {
  padding: 8px 0 0 0;
  width: 142px;
}

prm-logo .product-logo-custom:hover {
  background-color: rgba(0,0,0,0.1);
  transition: background-color 0.4s cubic-bezier(0.25,0.8,0.25,1)
}

prm-logo .product-logo a:hover {
  background: none;
  box-shadow: none;
}

/* Hide Save/Email in full details. */
#getit_link2,
button[aria-label="Save/Email"] {
  display: none;
}

/* Hide availability line in full details. */
.prm-full-view-dialog prm-search-result-availability-line,
prm-full-view-service-container * prm-search-result-availability-line {
  display: none;
}

/* Hide "Include records not in library collection" under "Tweak my results". */
prm-facet div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left {
  display: none;
}

/* Adjust the order and visibility of the action buttons. */
prm-action-list md-nav-bar li.md-nav-item:nth-child(1) {
  order: 9;
  display: none;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(2) {
  order: 8;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(3) {
  order: 7;
  display: none;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(4) {
  order: 6;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(5) {
  order: 5;
  display: none;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(6) {
  order: 4;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(7) {
  order: 3;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(8) {
  order: 2;
}

prm-action-list md-nav-bar li.md-nav-item:nth-child(9) {
  order: 1;
  margin-right: 0;
}

#scrollActionList li {
  margin-right: 0;
}

prm-action-list md-nav-bar li.md-nav-item[name="apa"],
prm-action-list md-nav-bar li.md-nav-item[name="chicagob"],
prm-action-list md-nav-bar li.md-nav-item[name="mla7"] {
  order: 0;
  display: list-item;
}

/* Change color of "Back to results list" (full details page). */
button[aria-label="Close Full Display"],
button.back-button[aria-label="navigate back to search results"],
button.back-button[aria-label="navigate back to search results"]:hover {
  color: white;
}

/* Change color of "..." on mobile menu. */
button.mobile-menu-button[aria-label="Open user actions menu button"] {
  color: #102b72;
}

/* Hide availability status in journals A-Z brief results. */
prm-journals prm-search-result-availability-line {
  display: none;
}

/* Change color of "My Library Account" title. */
prm-account md-toolbar h1.toolbar-title,
prm-account button.back-button[aria-label="Go Back To Search"],
prm-account button.back-button[aria-label="Go Back To Search"]:hover {
  color: white;
}

/* Change color of "My Favorites" toolbar. */
prm-favorites-tool-bar md-toolbar div.md-toolbar-tools {
  background-color: #c5c5c5;
}

prm-favorites-tool-bar md-toolbar div.md-toolbar-tools span.toolbar-title {
  color: #333333;
  font-weight: 600;
}

/* Hide edit options in "Personal details" inside "My Library Account". */
prm-personal-info md-card-header {
  padding: 16px 0 0 0;
}
prm-personal-info md-card-header .md-toolbar-tools {
  display: none;
}

prm-change-lang + md-divider,
button[aria-label="Edit password information"] {
  display: none;
}

/* Styles for landing page content. */
.start-here {
  width: 200px;
  padding-right: 24px;
  padding-bottom: 24px;
}

md-card a {
  color: #5c92bd;
  font-weight: 500;
}

md-card .advert {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

md-card .advert a:hover {
  background: none;
  box-shadow: none;
  text-decoration: underline;
}

#quote {
  position: fixed;
  bottom: 10%;
  left: 6%;
}

/* custom.css */
