/* custom.css */

.main.padded-container {
   flex-direction: row-reverse;
}

prm-topbar .top-nav-bar {
  background-color: #f1f1f1;
}

.top-nav-bar prm-main-menu {
   order:2;
}

.top-nav-bar prm-search-bookmark-filter {
  order: 3;
  margin-left: .5em;
}

.top-nav-bar prm-user-area {
  order: 4;
}

prm-main-menu .item-content {
  color: #102b72;
}

prm-user-area .user-menu-button .user-name {
  color: #333333;
}

prm-logo .product-logo {
  padding: .5em;
  width: 193px;
  background-color: #f1f1f1;
}

#favorites-button {
  color: #102b72;
}

/* custom.css */
